<ion-header>
  <ion-navbar>
    <ion-title>
      {{ item.title }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (tap)="editMode ? saveChanges() : toggleEdit()">
        {{ editMode ? 'Save' : 'Edit' }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <ion-label stacked>Title</ion-label>
      <ion-input
        type="text"
        [(ngModel)]="item.title"
        [readonly]="!editMode">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Description</ion-label>
      <ion-textarea
        [(ngModel)]="item.description"
        [readonly]="!editMode">
      </ion-textarea>
    </ion-item>

  </ion-list>

</ion-content>
