<ion-header>
  <ion-navbar>
    <ion-title>
      To Do: {{ items.length }} Items
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openAddItemModal()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list reorder="true" (ionItemReorder)="reorder($event)">

    <ion-item-sliding *ngFor="let item of items; let i = index;">

        <ion-item>
          <ion-label [class.completed]="item.completed" (tap)="toggleItemCompleted(item)">{{ item.title }}</ion-label>
        </ion-item>
        <ion-item-options>
          <button
            ion-button
            color="light"
            (tap)="viewItem(item)">
            <ion-icon name="clipboard"></ion-icon> Details
          </button>
          <button
            ion-button
            color="danger"
            (tap)="removeItem(item)">
            <ion-icon name="trash"></ion-icon> Delete
          </button>
        </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
