<ion-header>
  <ion-navbar>
    <ion-title>
      To Do: {{ items.length }} Items
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">

    <ion-item-sliding *ngFor="let item of items; let i = index;">

        <ion-item>
          <ion-label [class.completed]="item.completed" (tap)="toggleItem(i)">{{ item.title }}</ion-label>
          <!--<ion-checkbox [(ngModel)]="item.completed" (ngModelChange)="todosService.save(items)"> </ion-checkbox>-->
        </ion-item>
        <ion-item-options>
          <button
            ion-button
            color="light"
            (tap)="viewItem(i)">
            <ion-icon name="clipboard"></ion-icon> Details
          </button>
          <button
            ion-button
            color="danger"
            (tap)="deleteItem(i)">
            <ion-icon name="trash"></ion-icon> Delete
          </button>
        </ion-item-options>

    </ion-item-sliding>

  </ion-list>
</ion-content>
